:root {
    /* Font Family */
    --font-family-primary: var(--font-poppins);

    /* =========================
        XSmall - 12px
        ========================= */
    --text-xs: 12px;
    --text-xs-line-height: 1.25;

    /* =========================
        Small - 14px
        ========================= */
    --text-sm: 14px;
    --text-sm-line-height: 1.25;

    /* =========================
        Base - 16px
        ========================= */
    --text-base: 16px;
    --text-base-line-height: 1.5;

    /* =========================
        Large - 18px
        ========================= */
    --text-lg: 18px;
    --text-lg-line-height: 1.5;

    /* =========================
        XL - 20px
        ========================= */
    --text-xl: 20px;
    --text-xl-line-height: 1.5;

    /* =========================
        2XL - 26px
        ========================= */
    --text-2xl: 26px;
    --text-2xl-line-height: 1.5;

    /* =========================
        3XL - 38px
        ========================= */
    --text-3xl: 38px;
    --text-3xl-line-height: 1.25;

    /* =========================
        4XL - 48px
        ========================= */
    --text-4xl: 48px;
    --text-4xl-line-height: 1;
}